
        .footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            text-align: center;
            /* Height of the footer*/ 
            height: 40px;
            background: rgb(255, 201, 66);
        }
 
        .footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            text-align: center;
            /* Height of the footer*/ 
            height: 40px;
            background: rgb(255, 201, 66);
        }
 