<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
</head>
<div class="jumbotron text-center">

    <h1 style="padding-top: 2em ">About the CEOs of SEA Bank</h1>
    <p>SEA Bank was created by three Full-Stack Developers in 2022.</p> 
  </div>
<body> 
    
  <div class="quotes">
    <div class="card">
      <div class="box box1">
        
        <p>About Sam  </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quo odit esse unde doloribus sint ab illum nam provident nisi autem dolorum placeat molestias iste earum, dicta pariatur iure necessitatibus.</p>
        <h2>S</h2>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box2">
        <p>About Emiel</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eum sapiente laboriosam vero eveniet natus veritatis aperiam eos, voluptatum neque est ducimus numquam esse nisi, at laborum dolorem sunt maxime!</p>
        <h2>E</h2>
      </div>
      <div class="bg"></div>
    </div>
    <div class="card">
      <div class="box box3">
        <p>About Asma </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non consequatur voluptates! Quis dolorum nostrum eaque amet vitae rem obcaecati dolor fuga sint natus tenetur ex id, facilis, corrupti magnam.</p>
        <h2>A</h2>
      </div>
      <div class="bg"></div>
    </div>
  </div>

</body>

