<h1>add beneficiary</h1>
<div class="container ">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 bordered ">
        <h2>Customer Links</h2>
<br>
     <a href="createAccount">  <h5>Create Account</h5></a> 

     <a href="addBeneficiary">  <h5>Add Beneficiary</h5></a> 
<a href="removeBeneficiary">  <h5>Remove Beneficiary</h5></a> 

<a href="transferMoney">  <h5>Transfer Money</h5></a> 
<a href="viewStatement">  <h5>View Statement</h5></a> 

      </div>
      <div class="col-md-auto bordered">
        <h2>Account List</h2>
        <br>
        <br>
        <input type="checkbox">
        <br>
        <br>

      </div>
      
    </div>
    
  </div>

  <h1>create account</h1>
  <form class="container bordered">
    <div class="form-group">
      <label for="inputnumbers"><a style="font-size: 19px;  text-underline-position: below; text-decoration: underline;">Create Account Form</a></label>
      <input type="number" class="form-control" id="initialDeposit" placeholder="Enter Initial Deposit!">
      <small id="depositHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="selection">Select Types of Account</label>
     <div class="sub_border">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="saving">
      <label class="form-check-label" for="savingAccount">Saving Bank</label>
    </div>
    <div class="form-check">
       <input type="checkbox" class="form-check-input" id="activeAcc">
        <label class="form-check-label" for="currrentAccount">Current Account</label>
      </div>
    </div>
</div>

    <button type="submit" class="btn btn-primary"  style="margin-left: auto; margin-right: 0;">Submit</button>

  </form>

  <h1>add beneficiary</h1>

  <form class="container bordered">
    <div class="form-group">
      <label for="inputnumbers"><a style="font-size: 19px;  text-underline-position: below; text-decoration: underline;">Add Beneficiary</a></label>
      <input type="number" class="form-control" id="initialDeposit_b" placeholder="Enter Initial Deposit!">
      <small id="depositHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="selection">Select Types of Account</label>
     <div class="sub_border">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="saving">
      <label class="form-check-label" for="savingAccount_b">Saving Bank</label>
    </div>
    <div class="form-check">
       <input type="checkbox" class="form-check-input" id="activeAcc">
        <label class="form-check-label" for="currrentAccount_b">Current Account</label>
      </div>
    </div>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
