.bordered {
    width: 50em;
    height: 35em;
    padding: 2em;
    padding-top: 6em;

    border: 5px solid rgb(8, 108, 154);
  }

  .sub_border{
    width: 13em;
    height: 5em;
    padding-left: 2em;
    padding-top: 1em;
    border: 2px solid rgb(8, 108, 154);
    border-radius: 8px;

  }