<h3 style="color: aliceblue; text-align: center; padding-top: 2em;"> Administrator Dashboard</h3>

<div class="container">
    <div class="row" style="margin: 2em 0;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-dark"><a href="/approver/createstaff"
                        class="text-decoration-none">Create new employee ID</a></button>
                <button type="button" class="btn btn-secondary" disabled> View Staffs</button>
            </div>
            <div class="container shadow-lg p-3 mb-5 bg-body rounded">
                <div class="row justify-content-end">
                    <div class="col-md-9">
                        <h3>List of all Employees</h3>
                    </div>
                    <div class="col-md-3 ">
                        <button class="btn btn-outline-success" type="button" name="button" (click)='readuser()'>Display
                            list</button>
                    </div>
                </div>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>UserName</th>
                            <th>Enable/Disable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let staff of staffs">
                            <td>{{staff.fullName}}</td>
                            <td>{{staff.username}}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <form action="" #login="">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" name="status" (click)="statusChange(staff)"
                                            [(ngModel)]="staff.allow">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>