<div class='bold-line'></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <b>
                <div class='welcome'>STAFF LOGIN</div>
            </b>

            <div class='input-fields'>
                
                <input type='text' placeholder='Username' class='input-line full-width'>

                <input type='password' placeholder='Password' class='input-line full-width'>


            </div>

            <div><button class='ghost-round full-width'>Login</button></div>
        </div>
    </div>
</div>
