
    <div style=" padding: 1em;" class="container">
        <div class="row justify-content-around">
            <div class="col-md-6  align-self-center order-md-2" style="margin-bottom: 10px ;">
                <!-- <form [formGroup]="profileForm" (ngSubmit)="submit()"> -->
                <form  [formGroup]="customerLoginForm" (ngSubmit)="submit()"
                 class="title">
                    <nav class="navbar">
                        <div id="loginbox" style="margin-top:50px;"
                            class="mainbox col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">Sign In</div>
                                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a
                                            href="#">Forgot password?</a></div>
                                </div>
                                <div style="padding-top:30px" class="panel-body">
                                    <!-- <form [formGroup]="profileForm" (ngSubmit)="submit()" id="loginform" class="form-horizontal" role="form"> -->
                                    <form id="loginform" class="form-horizontal" role="form"></form>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="username" type="text" class="form-control" name="username"
                                            value="" placeholder="Username" formControlName="username">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password"
                                            placeholder="Password" formControlName="password">
                                    </div>
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                <input id="login-remember" type="checkbox" name="remember" value="1">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div style="margin-top:10px" class="form-group">
                                        <!-- Button -->

                                        <div class="col-sm-12 controls">
                                            
                                            <button type="submit" class="btn btn-success" type="submit">Login</button>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 control">
                                            <div
                                                style="border-top: 1px solid#888; margin-top: 10px; padding-top:15px; font-size:85%">
                                                Don't have an account!
                                                <h4 style="font-size: 15px"><a href="customer/registration">Register
                                                        Here!</a></h4>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </nav>
                </form>
            </div>
            <div class="col-md-6  align-self-center order-md-1" style="background-color: blueviolet; opacity: 0.85; border: 1px solid white; border-radius: 10px;">
                <img class="img-thumbnail" style="background-color: inherit;" src="/assets/SEA Bank-logos_white.png"
                    alt="logo">
            </div>
        </div>
    </div>



<!-- //{{mystatus}} -->